h1 {
    font-family: 'Tangerine', cursive;
}
.dresses {
    text-align: center;
}
.dress {
    margin-bottom: 5rem;
}
#bhldnHeader, #morileeHeader {
    background: rgba(0,0,0,.2);
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    padding: .5rem 0;
    font-family: 'Cinzel', serif;
}
.name a {
    text-decoration: none;
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    color: black;
}
.price {
    margin: .5rem;
    color: grey;
    font-weight: bold;
    font-family: sans-serif;
}
.styleID {
    font-family: sans-serif;
    padding-top: .5rem;
    color: grey;
}
.label, #lillianWest {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    padding: 1rem 0;
}
.designers, #lillianWest {
    background: #ffc0cb61;
}
.events {
    background: #add8e69c;
}
.shops {
    background: #ffffa082;
}
section li {
    display: inline-block;
    width: 15rem;
    background: rgba(0,0,0,.2);
    margin: .1rem 0;
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
}
section li a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 2px grey;
}
section ul {
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
.lillianWest {
    text-align: center;
}
#lillianWest {
    font-family: Arial, Helvetica, sans-serif;
}
.lillianWest li {
    padding: .5rem;
    font-family: 'Cinzel', serif;
}
#lillianWest a {
    color: white;
    text-shadow: 0 0 5px grey;
}
.lillianWest a:hover {
    letter-spacing: .1rem;
}

/* media queries */
@media only screen and (max-width: 700px) {
    .morileeImg {
        width: 95%;
    }
}